nav {
    padding: 0 10px;
}

.card .card-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.group {
    display: flex;
    justify-content: space-between;
}

.ml {
    margin-left: 10px;
}

.ml.red {
    background-color: red;
}